.button {
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  background: #b84511;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  cursor:pointer;
  user-select: none;
  border-radius: 4px;
}

.button:active {
  background: #dbcbc3;
}

.DButton {
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  background: #403938;
  color: #fff;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  user-select: none;
  border-radius: 4px;
}

.App {
  padding: 16px;
}

.eggImg {
  width: 300px;
}

.errText {
  color: #bd0000;
}
